body {
  width:50%;
  margin: auto;
}
ul {
  list-style-type: none;
}

img {
  width: 180px;
  height: 270px;
}

.photo {
  margin-top: 50px;
  width: 200px;
  float: right;
}

.head {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: arial
}

.infos {
  margin-left: 10px;
  margin-top: 150px;
  width: 300px;
  float: left;
  font-weight: bold;
}

.exp {
  margin-top: 50px;
  clear: both;
  float: right;
  border-top: 2px solid black;
  width: 500px;
  text-align: justify;
}
.forma {
  border-top: 2px solid black;
  clear: both;
  margin-top: 50px;
  width: 500px;
  text-align: justify;
  float: left;
}

.comp {
  clear: both;
  border-top: 2px solid black;
  margin-top: 50px;
  width: 500px;
  float: right;
  text-align: justify;
}

.hobbi {
  border-top: 2px solid black;
  clear: both;
  margin-top: 50px;
  width: 500px;
  float: left;
  text-align: justify;
}
.num {
  clear: both;
  border-top: 2px solid black;
  margin-top: 50px;
  width: 500px;
  float: right;
  text-align: justify;
}
