html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}
.blockphoto img {
  height: 350px;
}
header a {
    color: white;
    font-size: 20px;
}
.nav {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 2px;
    background: rgba(0, 0, 0, 0.5);
}

.nav.nav-pills {
    background: rgba(0, 0, 0, 0);
}
.active a {
    background-color: white;
}
.about {
    margin-top: 50px;
    width: 100%;
    margin: 0;
    /*padding: 80px 0px;*/
    font-size: 15px;
}
.about li {
    margin: 25px 0px 25px 0px;
}
.slide {
    width: 100%;
    margin: 0;
    padding: 0
}
.center {
    text-align: center;
    text-transform: uppercase;
}
.active {
    background-color: #474D5D;
    font-size: 20px;
}
.row {
    width: 100%;
}
.slide {
    margin-top: 25px;
    margin-bottom: 30px;
}
.skill {
    width: 100%;
    margin: 0;
}
.progress {
    margin-top: 75px;
    margin-bottom: 75px;
}

/*::::::::::::::::::::::::::::::::::::::*/

.hobbies {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    margin: 0;
}
.hobbies img {
    margin-top: 21px;
    margin-bottom: 21px;
}
.bckg {
    background-color: #474D5D;
    padding: 0;
    width: 100%;
    margin: 0;
}
.fa-twitter-square, .fa-facebook-square {
    color: #474D5D;
}
.thumbnail {
    background-color: #474D5D;
    border: 0;
}
.title_1 {
    color: #474D5D;
}
